body{
	vertical-align: middle;
}

.frame{
	display:flex;
	align-items: center;
	justify-content: center;
}

.allergies_input,.location_input{
	display:flex;
	justify-content: center;
}

.allergies_input span,.location_input span{
	margin-right:15px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.macro_label,.nutrient_label,.vitamin_label{
	width:200px;
	padding:20px;
}

.output_table ul{
	list-style-type: none;
}

.select_header{
	text-align:center;
}

.select_div{
	display:flex;
	justify-content: center;
}

.output{
	display:flex;
	justify-content: center;
}

.output_table{
	display:flex;
	justify-content: center;
}


.run_optimize{
	height:30px;
	display:flex;
	vertical-align: middle;
}

.food_list{
	display:flex;
	justify-content: space-between;
}

.output_header{
	width: 500px;
	text-align: center;
	text-decoration: underline;
}

.output_table td{
	vertical-align: top;
}